doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Loan Management System
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-barstyle', content='black-translucent')
    link(rel='apple-touch-icon', href='/assets/images/logo.png')
    meta(name='apple-mobile-web-app-title', content='SPLAS')
    meta(name='mobile-web-app-capable', content='yes')
    link(rel='shortcut icon', sizes='196x196', href='/assets/images/logo.png')
    link(rel='stylesheet', href='/assets/animate.css/animate.min.css', type='text/css')
    link(rel='stylesheet', href='/assets/glyphicons/glyphicons.css', type='text/css')
    link(rel='stylesheet', href='/assets/font-awesome/css/font-awesome.min.css', type='text/css')
    link(rel='stylesheet', href='/assets/material-design-icons/material-design-icons.css', type='text/css')
    link(rel='stylesheet', href='/assets/bootstrap/dist/css/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/assets/styles/app.css', type='text/css')
    link(rel='stylesheet', href='/assets/styles/font.css', type='text/css')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css", rel="stylesheet")
    link(href="/style.css", rel="stylesheet")
    style.
      button { cursor: pointer }

    block head
  body
    block earlyBody
      #app.app
        #content.app-content.box-shadow-z0(role='main')
          .app-header.white.box-shadow
            .navbar.navbar-toggleable-sm.flex-row.align-items-center
              #pageTitle.mb-0.h5.no-wrap(ng-bind='$state.current.data.title')
              #collapse.collapse.navbar-collapse
                ul.nav.navbar-nav.mr-auto
                  li.nav-item.dropdown
                    a.nav-link(href='/')
                      img(src='/logo.png', style='height: 30px')

                  if(user && user.role.id === 3)
                    li.nav-item.dropdown
                      a.nav-link(href='/application/new')
                        span New Application
                    li.nav-item.dropdown
                      a.nav-link(href='/')
                        span My Applications
                        
                  li.nav-item.dropdown
                    a.nav-link(href='/profile')
                      span My Profile

                  if(user && user.role.id < 3)
                    li.nav-item.dropdown
                      a.nav-link(href='/users')
                        span Users

                  if(user && user.role.id === 2)
                    li.nav-item.dropdown
                      a.nav-link(href='/loans')
                        span Loans
              ul.nav.navbar-nav.ml-auto.flex-row
                li.nav-item.dropdown.pos-stc-xs
                li.nav-item.dropdown
                  a.nav-link.p-0.clear(href='#', data-toggle='dropdown')
                    span.avatar.w-32
                      img(src='/user.png', alt='...')
                      i.on.b-white.bottom
                  .dropdown-menu.dropdown-menu-overlay.pull-right
                    a.dropdown-item(href='/profile')
                      span Profile
                    .dropdown-divider
                    a.dropdown-item(href='/authentication/logout') Sign out
                li.nav-item.hidden-md-up
                  a.nav-link.pl-2(data-toggle='collapse', data-target='#collapse')
                    i.material-icons 
          .app-footer
            .p-2.text-xs
              .pull-right.text-muted.py-1
                | © Copyright 
                strong SEP
                span.hidden-xs-down - Final Version
                a(ui-scroll-to='content')
                  i.fa.fa-long-arrow-up.p-x-sm
          #view.app-body(ui-view='')
            .p-a.white.lt.box-shadow
              .row
                .col-sm-6
                  h4.mb-0._300 UTS Student Personal Loan Application System
                  small.text-muted
                    | You are logged in as !{user.first_name + " " + user.last_name} 
            block body 
    script(src='/libs/jquery/jquery/dist/jquery.js')
    script(src='/libs/jquery/tether/dist/js/tether.min.js')
    script(src='/libs/jquery/bootstrap/dist/js/bootstrap.js')
    script(src='/libs/jquery/underscore/underscore-min.js')
    script(src='/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js')
    script(src='/libs/jquery/PACE/pace.min.js')
    script(src='/scripts/config.lazyload.js')
    script(src='/scripts/palette.js')
    script(src='/scripts/ui-load.js')
    script(src='/scripts/ui-jp.js')
    script(src='/scripts/ui-include.js')
    script(src='/scripts/ui-device.js')
    script(src='/scripts/ui-form.js')
    script(src='/scripts/ui-nav.js')
    script(src='/scripts/ui-screenfull.js')
    script(src='/scripts/ui-scroll-to.js')
    script(src='/scripts/ui-toggle-class.js')
    script(src='/scripts/app.js')
    script(src='/libs/jquery/jquery-pjax/jquery.pjax.js')
    script(src='/scripts/ajax.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js')
    block scripts