extends ./layout 

block earlyBody
  #app.app
    .center-block.w-xxl.w-auto-xs.p-y-md
      .p-a-md.box-color.r.box-shadow-z1.text-color.m-a
        .m-b.text-sm
          | Sign in with your UTS ID / Email
        form(method='post', action='/authentication/login')
          .md-form-group.float-label
            input.md-input(type='text', name='email', required='')
            label Email/Student ID
          .md-form-group.float-label
            input.md-input(type='password', name='password', required='')
            label Password
          .m-b-md
            label.md-check
              input(type='checkbox', name='remember')
              i.primary
              |  Keep me signed in
          button.btn.primary.btn-block.p-x-md(type='submit') Sign in
      .p-v-lg.text-center
        .m-b
          a.text-primary._600(ui-sref='access.forgot-password', href='forgot-password.html') Forgot password?
    